.seven {
    margin: 3px;
    padding: 3px;
    border: 2px dotted gold;
}
.seven img{
    width: 100%;
    height: max-content;
}
.seven button{
    width: 100%;
    height: 40px;
}
.seven .card{
    background-color: lightgray;
}
.svn {
    height: 100px;
    background: linear-gradient(rgb(187, 236, 255), blue);
    text-align: center;
    font-size: 36pt;
}